#kicad files
*.kicad_prl
*.kicad_sch_old
*.kicad_pcb_old
fabriaction-toolkit-options.json
fp-info-cache
/jlcpcb/gerber
esp32_wled_controller-backups
esp-32-WLED-controller-backups
esp32-wled-controller.blend
